iframe, .embed-box {
  display: block;
  width: 100%;
  height: 80vh;
}

.flex-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flow-box {
  display: block;
}
.flow-box > * {
  display: inline-block;
  vertical-align: top;
}

.btn.btn-primary {
  background-color: #007bff;
  background-image: none;
  border-color: #007bff;
}
.btn.btn-primary a:link,
.btn.btn-primary a:visited{
  color: white;
}

.fas, .fab, .far {
  vertical-align: middle;
}

.amap-container h4 {
  margin: 0.25rem;
}
