.header {
  overflow: hidden;
  @media (min-width: 576px) {
    height: calc(70vh - 5rem);
  }
  @media (min-width: 768px) {
    height: calc(100vh - 5rem);
  }
}

@media (max-width: 767px) {
  .btn {
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
