.header {
  overflow: hidden;
  @media (min-width: 576px) {
    height: calc(70vh - 5rem);
  }
  @media (min-width: 768px) {
    height: calc(100vh - 5rem);
  }
  .scrollWrap {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    .scrollItem {
      display: inline-block;
      animation: scroll linear 4s alternate infinite;
    }
  }
}

@media (min-width: 576px) {
  @keyframes scroll {
    0%,
    10% {
      margin-top: 0;
      transform: translateY(0);
    }

    90%,
    100% {
      margin-top: 100%;
      transform: translateY(-100%);
    }
  }
}

@media (min-width: 768px) {
  @keyframes scroll {
    0%,
    10% {
      margin-top: 0;
      transform: translateY(0);
    }

    90%,
    100% {
      margin-top: 100%;
      transform: translateY(-100%);
    }
  }
}
