@import url(./octicons/octicons.css);

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
[hidden] {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
code {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
select {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
* {
  box-sizing: border-box;
}
input,
select,
button {
  font: 16px/1.4 Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
}
body {
  font: 16px/1.4 Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
  color: #333;
  background-color: #fff;
}
a {
  color: #4078c0;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}
hr::after {
  content: '';
  display: table;
  clear: both;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 16px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.lead {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #555;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ol ol,
ul ol {
  list-style-type: lower-roman;
}
ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}
code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 12px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3a585f;
}
h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.2;
  font-size: 30px;
  font-weight: 300;
}
@media (min-width: 544px) {
  h1 {
    font-size: 38px;
  }
}
h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.3;
  font-size: 24px;
  font-weight: 300;
}
@media (min-width: 544px) {
  h2 {
    font-size: 30px;
  }
}
h3 {
  margin-top: 1em;
  margin-bottom: 0.35em;
  line-height: 1.3;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 544px) {
  h3 {
    font-size: 22px;
  }
}
h1,
h2,
h3 {
  color: #20515b;
}
.lead {
  margin-top: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
p {
  margin: 0 0 1em;
}
ul,
ol {
  margin-bottom: 1em;
  margin-left: 1.5em;
}
li {
  margin-bottom: 0.5em;
}
li ul li,
li ol li {
  margin-bottom: 0;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-appearance: none;
}
.btn i {
  font-style: normal;
  font-weight: 500;
  opacity: 0.6;
}
.btn .octicon {
  vertical-align: text-top;
}
.btn:focus {
  text-decoration: none;
  border-color: #51a7e8;
  outline: none;
  box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
}
.btn:focus:hover {
  border-color: #51a7e8;
}
.btn:hover,
.btn:active {
  text-decoration: none;
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}
.btn:active {
  background-color: #dcdcdc;
  background-image: none;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.btn:disabled,
.btn:disabled:hover {
  color: rgba(102, 102, 102, 0.5);
  cursor: default;
  background-color: rgba(229, 229, 229, 0.5);
  background-image: none;
  border-color: rgba(197, 197, 197, 0.5);
  box-shadow: none;
}
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
}
.btn-primary:hover {
  color: #fff;
  background-color: #569e3d;
  background-image: linear-gradient(#79d858, #569e3d);
  border-color: #4a993e;
}
.btn-primary:active {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  background-color: #569e3d;
  background-image: none;
  border-color: #418737;
}
.btn-primary:disabled,
.btn-primary:disabled:hover {
  color: #fefefe;
  background-color: #add39f;
  background-image: linear-gradient(#c3ecb4, #add39f);
  border-color: #b9dcac #b9dcac #a7c89b;
}
@keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 980px;
}
.container::after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1260px;
  }
}
.container-narrow {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 800px;
}
.container-narrow::after {
  content: '';
  display: table;
  clear: both;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row::after {
  content: '';
  display: table;
  clear: both;
}
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}
@media (min-width: 544px) {
  .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 33.33333%;
  }
}
.text-gray-dark {
  color: #333 !important;
}
.text-white {
  color: #fff !important;
}
.position-relative {
  position: relative !important;
}
.d-block {
  display: block !important;
}
.hidden {
  display: none !important;
}
.clearfix::before {
  display: table;
  content: '';
}
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.m-1 {
  margin: 3px !important;
}
.mr-1 {
  margin-right: 3px !important;
}
.mb-1 {
  margin-bottom: 3px !important;
}
.mt-2 {
  margin-top: 6px !important;
}
.mr-2 {
  margin-right: 6px !important;
}
.mb-2 {
  margin-bottom: 6px !important;
}
.my-2 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}
.mb-3 {
  margin-bottom: 12px !important;
}
.ml-3 {
  margin-left: 12px !important;
}
.m-4 {
  margin: 24px !important;
}
.mb-4 {
  margin-bottom: 24px !important;
}
.my-4 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.mb-5 {
  margin-bottom: 36px !important;
}
.px-2 {
  padding-right: 6px !important;
  padding-left: 6px !important;
}
.px-3 {
  padding-right: 12px !important;
  padding-left: 12px !important;
}
.py-7 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-normal {
  font-weight: normal !important;
}
.vertical-middle {
  vertical-align: middle !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.m-1 {
  margin: 3px !important;
}
.mr-1 {
  margin-right: 3px !important;
}
.mb-1 {
  margin-bottom: 3px !important;
}
.mt-2 {
  margin-top: 6px !important;
}
.mr-2 {
  margin-right: 6px !important;
}
.mb-2 {
  margin-bottom: 6px !important;
}
.my-2 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}
.px-2 {
  padding-right: 6px !important;
  padding-left: 6px !important;
}
.mb-3 {
  margin-bottom: 12px !important;
}
.ml-3 {
  margin-left: 12px !important;
}
@media (min-width: 768px) {
  .my-md-3 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }
}
.px-3 {
  padding-right: 12px !important;
  padding-left: 12px !important;
}
.m-4 {
  margin: 24px !important;
}
.mb-4 {
  margin-bottom: 24px !important;
}
.my-4 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
@media (min-width: 768px) {
  .mb-md-4 {
    margin-bottom: 24px !important;
  }
}
.mb-5 {
  margin-bottom: 36px !important;
}
@media (min-width: 992px) {
  .mb-lg-6 {
    margin-bottom: 48px !important;
  }
}
.py-7 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
@media (min-width: 768px) {
  .py-md-8 {
    padding-top: 72px !important;
    padding-bottom: 72px !important;
  }
}
.position-relative {
  position: relative;
}
.d-block {
  display: block;
}
.hidden {
  display: none;
}
.text-white {
  color: #fff !important;
}
.text-white a {
  color: #fff;
  opacity: 0.7;
}
.no-underline-hover:hover {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  font-size: 14px;
}
@media (min-width: 544px) {
  body {
    font-size: 16px;
  }
}
a {
  color: #097e95;
}
h1 a,
h2 a,
h3 a {
  color: #3a585f;
}
hr {
  border-color: #d1d9db;
  margin-left: 48px !important;
  margin-right: 48px !important;
}
@media (min-width: 768px) {
  hr {
    margin-left: 72px !important;
    margin-right: 72px !important;
  }
}
strong {
  color: #20515b;
}
p:last-child {
  margin-bottom: 0;
}
.lead {
  margin-bottom: 0;
  color: #3a585f;
}
@media (min-width: 544px) {
  .text-center-sm {
    text-align: center !important;
  }
}
h1 {
  -webkit-font-smoothing: antialiased;
}
h2 {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
h2 {
  margin-top: 0;
}
img {
  opacity: 1;
  transition: opacity 0.3s;
}
@keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-up {
  0% {
    opacity: 0.8;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.5;
    transform: translateY(100%);
  }
}
@keyframes grow-x {
  to {
    width: 100%;
  }
}
@keyframes shrink-x {
  to {
    width: 0%;
  }
}
@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes pulse-in {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
} /*!
 * Primer-marketing
 * http://primer.github.io
 *
 * Released under MIT license. Copyright (c) 2019 GitHub Inc.
 */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), local('Inter-Regular'),
    url('/primer-marketing-support/fonts/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: local('Inter Medium'), local('Inter-Medium'),
    url('/primer-marketing-support/fonts/Inter-Medium.woff') format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), local('Inter-Regular'),
    url('/primer-marketing-support/fonts/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: local('Inter Medium'), local('Inter-Medium'),
    url('/primer-marketing-support/fonts/Inter-Medium.woff') format('woff');
}
.h00-mktg,
.h3-mktg,
.lead-mktg {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
}
.h00-mktg {
  font-size: 40px !important;
}
@media (min-width: 768px) {
  .h00-mktg {
    font-size: 48px !important;
  }
}
.h3-mktg {
  font-size: 18px !important;
}
@media (min-width: 768px) {
  .h3-mktg {
    font-size: 20px !important;
  }
}
.lead-mktg {
  font-size: 20px;
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), local('Inter-Regular'),
    url('/primer-marketing-support/fonts/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: local('Inter Medium'), local('Inter-Medium'),
    url('/primer-marketing-support/fonts/Inter-Medium.woff') format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), local('Inter-Regular'),
    url('/primer-marketing-support/fonts/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: local('Inter Medium'), local('Inter-Medium'),
    url('/primer-marketing-support/fonts/Inter-Medium.woff') format('woff');
}
.py-7 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}
@media (min-width: 768px) {
  .py-md-8 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }
}
@media (min-width: 992px) {
  .py-lg-9 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
}
.px-2 {
  padding-right: 6px !important;
  padding-left: 6px !important;
}
.px-3 {
  padding-right: 12px !important;
  padding-left: 12px !important;
}
.p-responsive {
  padding-right: 12px !important;
  padding-left: 12px !important;
}
@media (min-width: 544px) {
  .p-responsive {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
}
@media (min-width: 992px) {
  .p-responsive {
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
}
.n-container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  font-weight: 400;
}
code {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 12px;
}
code {
  color: #0d4a59;
  background-color: #f2f2f2;
}
code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
.highlight {
  margin: 0 0 12px;
  border-radius: 4px;
  background-color: #f5f5f5;
  border: 1px #e5e5e5 solid;
}
h1 code,
h2 code,
h3 code {
  background-color: #f2f2f2;
}
.footer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  font-size: 13px;
  line-height: 32px;
  text-align: center;
  border-top: 1px solid #e8e8e8;
  margin-top: auto;
  border-color: #e0e5e6;
  background: #f6f8f8;
}
@media (min-width: 768px) {
  .footer-nav {
    float: right;
  }
}
.footer-nav-item {
  display: inline-block;
}
.footer-nav-item + .footer-nav-item {
  margin-left: 20px;
}
.footer a {
  color: #7c9398;
}
.footer a:hover {
  color: #3a585f;
}
@media (min-width: 768px) {
  .footer-nav {
    float: left;
  }
}
.footer-nav-item.icon {
  text-decoration: none !important;
  border: none !important;
  font-size: 130%;
}
@media (min-width: 768px) {
  .footer-social {
    float: right;
  }
}
.btn .octicon {
  vertical-align: middle;
}
.site-header-logo {
  font-size: 22px;
}
.site-header-logo .mega-octicon {
  padding-right: 5px;
}
@media (min-width: 700px) {
  .site-header-logo {
    float: left;
  }
}
.site-header-logo .logo {
  width: auto;
  height: 18px;
  overflow: visible !important;
}
@media (min-width: 544px) {
  .site-header-logo .logo {
    height: 22px;
    opacity: 0.9;
  }
}
.site-header-logo .logo:hover {
  opacity: 1;
}
.site-header {
  color: #74b1be;
  background-color: #2f3241;
  border-bottom: 1px solid #e8e8e8;
  border-bottom-color: #1a1b23;
  -webkit-font-smoothing: antialiased;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}
@media (min-width: 700px) {
  .site-header {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .site-header {
    padding-left: 0;
    padding-right: 0;
  }
}
.site-header a {
  color: inherit;
  transition: all 0.3s;
}
.site-header a.active,
.site-header a:hover {
  color: #9feaf9;
}
.site-header a:active {
  color: #6798a2;
}
.site-header-nav {
  margin-top: 0;
  margin-top: 20px;
  min-height: 30px;
  line-height: 30px;
}
@media (min-width: 700px) {
  .site-header-nav {
    float: right;
    margin-top: 7px;
  }
}
@media (max-width: 699px) {
  .site-header-nav {
    line-height: 2.3;
  }
}
.site-header-nav .mega-octicon {
  min-width: 32px;
}
.site-header-nav-item {
  font-size: 15px;
  border-bottom: 2px solid transparent;
  display: inline-block;
}
.site-header-nav-item + .site-header-nav-item {
  margin-left: 20px;
}
.site-header-nav-item.active,
.site-header-nav-item:active,
.site-header-nav-item:hover {
  border-bottom-color: #9feaf9;
  text-decoration: none;
}
.site-header-nav-item.bordered {
  border: 1px solid #9feaf9;
  border-radius: 3px;
  padding: 0 7px;
  opacity: 0.7;
  font-size: 12px;
  line-height: 2;
}
.site-header-nav-item.octicon {
  border: none !important;
}
.site-header-icon {
  width: 38px;
  height: 38px;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 0.4em;
}
@media (min-width: 700px) {
  .site-header {
    text-align: center;
  }
  .site-header-logo,
  .site-header-nav {
    float: none;
  }
}
@media (min-width: 992px) {
  .site-header-logo {
    float: left;
  }
}
@media (min-width: 992px) {
  .site-header-nav {
    float: right;
  }
}
.jumbotron {
  color: #74b1be;
  background-color: #2b2e3b;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding-top: 36px;
  padding-bottom: 36px;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
.jumbotron:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  content: none;
}
.jumbotron h1 {
  font-size: 45px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
  font-weight: 300;
}
@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .jumbotron h1 {
    font-size: 6vw;
  }
}
@media (min-width: 1200px) {
  .jumbotron h1 {
    font-size: 5vw;
  }
}
.subtron {
  position: relative;
  text-align: center;
  border: 1px solid #e0e5e6;
  background-color: #f6f8f8;
  padding: 12px;
}
@media (min-width: 544px) {
  .subtron {
    padding: 12px;
  }
}
@media (min-width: 768px) {
  .subtron {
    padding: 24px;
  }
}
@media (min-width: 992px) {
  .subtron {
    padding: 36px;
  }
}
@media (min-width: 1200px) {
  .subtron {
    padding: 48px;
  }
}
.subtron h1 {
  margin: 0 0 0.3em 0;
  font-size: 28px;
}
@media (min-width: 768px) {
  .subtron h1 {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .subtron h1 {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .subtron h1 {
    font-size: 48px;
  }
}
.subtron h1:only-child {
  margin-bottom: 0;
}
.pagination::before {
  display: table;
  content: '';
}
.pagination::after {
  display: table;
  clear: both;
  content: '';
}
.pagination a,
.pagination span {
  position: relative;
  float: left;
  padding: 7px 12px;
  margin-left: -1px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  color: #4078c0;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.pagination a:first-child,
.pagination span:first-child {
  margin-left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination a:last-child,
.pagination span:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pagination a:hover,
.pagination a:focus,
.pagination span:hover,
.pagination span:focus {
  z-index: 2;
  text-decoration: none;
  background-color: #eff3f6;
  border-color: #e5e5e5;
}
.page-section {
  padding: 12px;
}
@media (min-width: 544px) {
  .page-section {
    padding: 24px;
  }
}
@media (min-width: 768px) {
  .page-section {
    padding: 36px;
  }
}
@media (min-width: 992px) {
  .page-section {
    padding: 48px;
  }
}
@media (min-width: 1200px) {
  .page-section {
    padding: 48px;
  }
}
.page-section .container > *:first-child,
.page-section .container-narrow > *:first-child {
  margin-top: 0;
}
.page-section hr {
  margin: 24px 0;
}
@media (min-width: 768px) {
  .page-section hr {
    margin: 36px 0;
  }
}
@media (min-width: 992px) {
  .page-section hr {
    margin: 48px 0;
  }
}
@media (min-width: 1200px) {
  .page-section hr {
    margin: 72px 0;
  }
}
.container,
.container-narrow {
  padding-left: 0;
  padding-right: 0;
}
.center {
  text-align: center;
}
@media (min-width: 544px) {
  .force-150 {
    min-height: 150px;
    max-height: 150px;
    height: 150px;
    overflow: scroll;
  }
}
.something-missing {
  margin-top: 32px;
}
.container-narrow {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .container-narrow {
    padding-right: 0;
    padding-left: 0;
  }
}
.row {
  margin-right: -12px;
  margin-left: -12px;
}
@media screen and (max-width: 1300px) {
  svg.vertical-middle {
    display: none;
  }
}
@keyframes hero-animation {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes hero-icon-animation {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes hero-app-animate-left {
  0% {
    transform: scale(1) translateX(30px);
    opacity: 0.1;
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.9, 0.5);
  }
  20% {
    transform: scale(1.1) translateX(20px);
    animation-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  }
  100% {
    transform: scale(1) translateX(0px);
    opacity: 1;
  }
}
@keyframes hero-app-animate-right {
  0% {
    transform: scale(1) translateX(-30px);
    opacity: 0.1;
    animation-timing-function: cubic-bezier(0.3, 0.1, 0.9, 0.5);
  }
  20% {
    transform: scale(1.1) translateX(-20px);
    animation-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  }
  100% {
    transform: scale(1) translateX(0px);
    opacity: 1;
  }
}
.docs p a,
.docs li a {
  text-decoration: underline;
}
.blog-index {
  list-style: none;
  margin-left: 0;
}
.blog-index-link {
  color: #20515b !important;
}
.blog-index-link:hover {
  text-decoration: none !important;
  color: #097e95 !important;
}
.blog-byline {
  color: #7c9398 !important;
  font-size: 16px !important;
}
.blog-index-time {
  display: inline;
}
.author-link {
  color: #7c9398 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
.ais-search-box {
  display: inline;
  margin-right: 10px;
}
.nav-search {
  transition: all 0.2s;
  background-color: #3a585f;
  border: none;
  outline: none;
  border-radius: 100px;
  font-size: 15px;
  padding: 3px 10px 3px 10px;
  margin-left: 20px;
}
.nav-search:focus {
  background-color: white;
  color: #2b2e3b;
}
.nav-search:focus::-webkit-input-placeholder {
  color: white;
}
.nav-search:focus::-moz-input-placeholder {
  color: white;
}
.featured-app {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  padding: 0;
  color: #7c9398;
  margin: 10px 20px;
}
.featured-app:hover {
  text-decoration: none;
}
.featured-app-logo-wrapper {
  width: 120px;
  height: 120px;
  margin: 10px;
  transition: transform 0.32s;
}
.featured-app:hover .featured-app-logo-wrapper {
  transform: scale(1.1);
  transition-duration: 0.08s;
}
.featured-app:active .featured-app-logo-wrapper {
  transform: scale(0.92);
  transition-duration: 0;
}
.featured-app-logo {
  width: 100%;
}
.featured-app-name {
  text-align: center;
  text-decoration: none;
  line-height: 1.3;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PRIMER-REMOVE-ME .CircleBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(28, 28, 28, 0.15);
}
.PRIMER-REMOVE-ME .CircleBadge-icon {
  max-width: 60% !important;
  height: auto !important;
  max-height: 55% !important;
}
.PRIMER-REMOVE-ME .CircleBadge--large {
  width: 128px;
  height: 128px;
}

.app-container {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .app-container {
    display: flex;
  }
}
.app-container .app-meta {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .app-container .app-meta.sticky {
    position: sticky;
    top: 20px;
  }
}
@media (min-width: 768px) {
  .app-container .app-meta {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.app-container .app-meta .app-meta-entry {
  font-size: 14px;
  padding: 16px 0;
  border-top: 1px #e0e5e6 solid;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app-container .app-meta .app-meta-entry .app-keyword {
  white-space: normal;
  overflow: auto;
}
.app-container .app-meta .app-meta-entry-downloads {
  overflow: auto;
  white-space: normal;
}
@media (min-width: 544px) {
  .app-container .app-meta .app-meta-entry {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .app-container .app-meta .app-meta-entry {
    width: 100%;
  }
}
.app-container .app-meta .app-meta-entry:nth-child(1) {
  border-top: none;
}
.app-container .app-meta .app-meta-entry:nth-child(2) {
  border-top: 1px #e0e5e6 solid;
}
@media (min-width: 544px) {
  .app-container .app-meta .app-meta-entry:nth-child(2) {
    border-top: none;
  }
}
@media (min-width: 768px) {
  .app-container .app-meta .app-meta-entry:nth-child(2) {
    border-top: 1px #e0e5e6 solid;
  }
}
.app-container .app-meta .app-meta-entry h5 {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
.app-container .app-boxes {
  flex: 1;
}
@media (min-width: 768px) {
  .app-container .app-boxes {
    max-width: calc(100% - 300px);
  }
}
.app-container .app-boxes .app-box {
  border: 1px solid #d1d9db;
  border-radius: 5px;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.28);
  margin-bottom: 32px;
}
.app-container .app-boxes .app-box:last-child {
  margin-bottom: 0;
}
.app-container .app-keyword {
  padding: 0.2em 0.4em;
  font-size: 0.85em;
  border-radius: 3px;
  background-color: #f6f8f8;
}
.app-container .app-keyword:hover {
  text-decoration: none;
  background-color: #ebefef;
}
.app-container .app-tagname {
  margin-left: 0.5em;
  color: #7c9398;
}
.app-container .app-download {
  display: block;
  padding: 0.4em 0.8em;
  border-radius: 3px;
  margin: 0 0.5em 0.5em 0;
  line-height: 1.7;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
  text-align: left;
  color: white !important;
}
@media (min-width: 768px) {
  .app-container .app-download {
    display: inline-block;
  }
}
.app-container .app-download:hover {
  text-decoration: none;
  border-color: #13ccf1;
}
.app-container .app-readme {
  padding: 3rem;
}
.app-container .app-readme > div > article > *:first-child {
  margin-top: 0 !important;
}
.app-container .app-readme .octicon-link {
  display: none;
}
.app-container .app-screenshots .active-screenshot {
  padding: 16px;
}
.app-container .app-screenshots .all-screenshots {
  height: 128px;
  border-top: 1px solid #d1d9db;
  white-space: nowrap;
  overflow-y: auto;
}
.app-container .app-screenshots .all-screenshots .app-screenshot-thumb {
  border-right: 1px solid #d1d9db;
  display: inline-flex;
  flex-direction: column;
  width: 196px;
  cursor: pointer;
  overflow: hidden;
  height: 126px;
}
.app-container .app-screenshots .all-screenshots .app-screenshot-thumb img {
  height: 110px;
  margin: 8px;
}
.app-container
  .app-screenshots
  .all-screenshots
  .app-screenshot-thumb
  img.caption {
  height: 84px;
}
.app-container
  .app-screenshots
  .all-screenshots
  .app-screenshot-thumb
  .app-screenshot-caption {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 8px;
}
