name: CI & CD
on:
    push:
        branches:
            - hexo
jobs:
    Build-and-Deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/checkout@v3
              with:
                  repository: kaiyuanshe/Wiki
                  lfs: true
                  path: source/
            - uses: pnpm/action-setup@v2
              with:
                  version: 7
            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 14
                  cache: pnpm
            - name: Install Dependencies
              run: pnpm i --frozen-lockfile
            - name: Build Production
              run: pnpm build
            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  publish_dir: ./public
                  cname: kaiyuanshe.cn
                  publish_branch: master
                  personal_token: ${{ secrets.GITHUB_TOKEN }}
                  force_orphan: true
